<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/x12_Striver_Strings/src/x02_String_Medium/x02_LongestPallindromicSubstring.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="x02_String_Medium.x02_LongestPallindromicSubstring"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="x12_Striver_Strings"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="x12_Striver_Strings"/>
</launchConfiguration>
