<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/x18_GoldManSachDSA/src/x01_CoderPadCommonQuestion/x18_FindIndexAndLengthOfMostRepeatingCharacter.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="x01_CoderPadCommonQuestion.x18_FindIndexAndLengthOfMostRepeatingCharacter"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="x18_GoldManSachCoderPadQuestions"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="x18_GoldManSachDSA"/>
</launchConfiguration>
